$brandColor: #D37C97;
$brandSubColor: #ffffff;
$fontColor: #312626;
$fontColor2: #C3B79D;
$innerWidth: 95rem;
$imgDir: "../img/";
$fontSize: 3.6rem;
$fontSize2: 2.4rem;
$fontSize3: 2.0rem;
$fontSize4: 1.6rem; 
//スマホサイズ用設定
$breakpoints: (
  'sm': 'screen and (max-width: 400px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1024px)',
  ) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

*{
  font-size: 62.5%;
  font-family: "M PLUS 1p";
}
h2{
  border-bottom: 3px solid $brandColor;
}
// Header ==========================
// ======================================
header {
  width: 100%;
  height: 84rem;
  background-color: $brandColor;
  z-index: -1;
  .header-inner{
    position: relative;
    margin: 0 auto;
    width: $innerWidth;
      .main-image-wrap {
        position: absolute;
        top: 16.9rem;
        left:3rem;
        width: 50%;
        text-align: center;
        h1 {
          img {
            // width:50%;
          }
        }
        p {
          margin-top: 2.75rem;
          font-size: $fontSize;
          color: $brandSubColor;
        }
      }
      .header-main-tapioka {
        position: absolute;
        top: 5.9rem;
        right: 0;
        width: 43rem;
      }
  }
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    height: 12rem;
    align-items: center;
    .header-logo {
      padding-left: 2rem;
      line-height: 2rem;
    }
    .nav-bar {
      color: $brandSubColor;
      z-index: 2;
      .nav {
        display: inline-block;
        font-weight: bold;
        font-size: $fontSize2;
        padding-left: 5.8rem;
        line-height: 12rem - $fontSize2;
      }
    }
  }
}
// NEWS ==========================
// ======================================
.news-wrapper {
  .news-inner {
    width: $innerWidth;
    margin: 0 auto;
    .news {
      margin-top: 5rem;
      h2 {
        margin-top: 2.5rem;
        height: 7.6rem;
        display: block;
        width: 100%;
        color: $brandColor;
        font-size: $fontSize;
      }
      .news-box {
        dl {
          display: grid;
          grid-template-columns: 14rem 85%;
          dt, dd {
            margin-top: 1.6rem;
          }
          dt {
            color: $brandSubColor;
            font-size: $fontSize4;
            background-color: $brandColor;
            padding: 0.4rem 2.4rem;
          }
          dd {
            font-size: $fontSize4;
            color: $fontColor;
            padding: 0.4rem 2.2rem;
            display: inline-block;
          }
        }
      }
      .news-more {
        width: 17rem;
        height: 4rem;
        background-color: $brandColor;
        margin: 0 0 0 auto;
        p {
          font-size: $fontSize4;
          color: $brandSubColor;
          text-align: center;
          line-height: 4rem;
        }
      }
    }
  }
}
// CONCEPT==========================
// ======================================
.concept-wrapper {
  margin-top: 9rem;
  position: relative;
  color: $brandSubColor;
  text-align: center;
  .concept-image {
    width: 100%;
    height: 55rem;
    position: absolute;
    object-fit: cover;
    object-position: center bottom;
    top: 0;
    left: 0;
    z-index: -1
  }
  h2{
      padding-top: 9.4rem;
      padding-bottom: 3.5rem;
      font-size: $fontSize;
      font-weight: bold;
      border-bottom: 0;
  }
  p {
    font-size: $fontSize2;
    text-shadow:1px 1px 3px #000;
    &:last-child {
      padding-top: 3.8rem;
      // padding-bottom: 30rem;
    }
  }
}
// MENU==========================
// ======================================
.menu-wrapper {
  margin-top: 19rem + 5rem;
  .menu-inner {
    width: $innerWidth;
    margin: 0 auto;
    .menu-title-wrap {
      .menu-title {
        display: block;
        text-align: center;
        color: $brandColor;
        font-weight: bold;
        font-size: $fontSize;
      }
    }
    .menus-box {
      display: flex;
      justify-content: space-between;
      flex-flow: wrap;
      margin-top: 6.5rem;
      .menus {
        display: inline-block;
        width: 30rem;
        img {
          width: 100%;
          text-align: center;
        }
        .menu-descriptions {
          padding: 1rem;
          h3 {
            margin-top: 2rem;
            font-size: $fontSize3;
            color: $fontColor2;
            font-weight: bold;
          }
          p {
            padding: 0.3rem 0;
            font-size: $fontSize4;
            color: $fontColor2;
            line-height: 2.5rem;
          }
        }
      }
    }
  }
}
// SHOP==========================
// ======================================
.shop-wrapper {
  .shop-inner {
    width: $innerWidth;
  }
}
// ==========================
// ======================================
